@use "../../../styles/abstracts/media" as *;
@use "../../../styles/abstracts/mixins" as *;

.modal {
  @include flex-center;
  @include square(100%);

  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(8px);
  background-color: rgba(20, 20, 20, 0.8);
  z-index: 10;
  animation: fadeIn 0.3s ease-in-out;

  h2 {
    text-align: center;
  }
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 40px;
  max-width: 600px;
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  animation: slideUp 0.3s ease-in-out;
  transition: all 0.3s ease;

  .closeButton {
    @include flex-center;
    @include reset-button;

    position: absolute;
    top: 32px;
    right: 24px;
    z-index: 10;
    transition: all 0.3s ease;
    cursor: pointer;

    @include hover {
      transform: scale(1.1);
    }

    svg {
      @include square(24px);

      stroke: var(--primary-color-light);
      stroke-width: 2px;
    }
  }

  button {
    font-size: 18px;
  }
}

@keyframes fadeIn {
  from {
    background-color: rgba(20, 20, 20, 0);
  }
  to {
    background-color: rgba(20, 20, 20, 0.4);
  }
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
