@use "../../../../styles/abstracts/media" as *;
@use "../../../../styles/abstracts/mixins" as *;

.link {
  @include flex-center;

  gap: 4px;
  min-height: var(--input-height);
  padding: 18px 24px;
  font-weight: 600;
  text-align: center;
  color: var(--primary-color-light);
  background-color: var(--color-red-45);
  border: 2px solid transparent;
  border-radius: var(--border-radius-small);
  outline: none;
  cursor: pointer;

  @include hover {
    background-color: var(--color-red-55);
  }

  &:focus {
    border: 2px solid var(--color-red-80);
  }

  @include desktop {
    padding: 14px 20px;
  }

  svg {
    @include square(28px);

    @include tablet {
      @include square(24px);
    }
  }
}

.link.isDark {
  background-color: var(--color-black-08);
  border: var(--border-dark-15);

  @include hover {
    background-color: var(--color-black-12);
  }

  &:focus {
    border: 1px solid var(--color-gray-75);
  }
}
