@use "../../../../styles/abstracts/media" as *;
@use "../../../../styles/abstracts/mixins" as *;

.content {
  position: absolute;
  bottom: -200px;
  right: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.title {
  @include fluid-text(58, 28);

  margin-bottom: 16px;
  font-weight: 700;
  text-align: center;
  color: var(--primary-color-light);

  @include desktop {
    margin-bottom: 10px;
  }
}

.description {
  max-width: 1090px;
  margin-bottom: 50px;
  text-align: center;

  @include desktop {
    margin-bottom: 40px;
  }

  @include tablet {
    margin-bottom: 30px;
  }
}
