@use "../../../../styles/abstracts/media" as *;
@use "../../../../styles/abstracts/mixins" as *;

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 50px;
  padding: 50px;
  background-color: var(--color-black-06);
  border: var(--border-dark-15);
  border-radius: var(--border-radius-medium);

  @include desktop {
    gap: 40px;
    padding: 40px;
  }

  @include mobile {
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
    padding: 20px;
  }

  button {
    justify-content: center;
    width: fit-content;
    margin-left: auto;

    @include mobile {
      width: 100%;
      margin-left: 0px;
    }
  }
}

.message {
  @include fluid-text(48, 24);

  margin-top: 24px;
  text-align: center;
  font-weight: 600;
  color: var(--primary-color-light);
}

.message.error {
  color: var(--color-red-50);
}

.titleWrapper {
  margin-top: 24px;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}
