@use "../../../styles/abstracts/media" as *;
@use "../../../styles/abstracts/mixins" as *;

.wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;

  @include mobile {
    flex-direction: column-reverse;
  }
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 30px;
  min-width: 0;

  @include desktop {
    gap: 20px;
  }

  @include mobile {
    flex-grow: 0;
  }
}

.aside {
  .infoBlock {
    @include mobile {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 36px;
    }
  }
}

.infoBlock {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 50px;
  background-color: var(--color-black-10);
  border: var(--border-dark-15);
  border-radius: var(--border-radius-medius);

  @include desktop {
    gap: 20px;
    padding: 40px;
  }

  @include mobile {
    padding: 24px;
  }
}

.infoHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;

  button {
    gap: 10px;
  }

  button svg {
    @include square(16px);
  }
}

.subtitle,
.description {
  @include fluid-text(18, 14);

  font-weight: 500;
}

.description {
  color: var(--primary-color-light);
}

.info {
  display: flex;
  flex-direction: column;
  gap: 14px;

  @include mobile {
    gap: 10px;
  }

  img {
    max-width: 60px;

    @include mobile {
      max-width: 45px;
    }
  }
}

.infoName {
  display: flex;
  align-items: center;
  gap: 8px;

  @include mobile {
    gap: 4px;
  }

  svg {
    max-width: 24px;
    max-height: 24px;

    @include tablet {
      max-width: 20px;
      max-height: 20px;
    }
  }
}

.infoContent {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;

  @include mobile {
    gap: 10px;
  }

  .image {
    max-width: 100px;
    object-fit: contain;
    border-radius: var(--border-radius-medius);

    @include tablet {
      max-width: 75px;
    }
  }
}

.infoItem {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 14px;
  background-color: var(--color-black-08);
  border: var(--border-dark-15);
  border-radius: var(--border-radius-small);

  @include tablet {
    gap: 8px;
    padding: 6px 12px;
  }
}

.rate {
  display: flex;
  align-items: center;
  gap: 2px;

  svg {
    @include square(18px);
  }
}
