@use "../../../../styles/abstracts/media" as *;
@use "../../../../styles/abstracts/mixins" as *;

.customInput,
.input {
  min-height: var(--input-height);
  padding: 20px;
  color: var(--primary-color-light);
  background-color: var(--color-black-08) !important;
  border: var(--border-dark-15) !important;
  border-radius: var(--border-radius-small);
  outline: none;

  @include desktop {
    padding: 16px;
  }

  &:hover,
  &:focus {
    border: 1px solid var(--color-black-30) !important;
  }
}

input.input[type="checkbox"] {
  @include visually-hidden;
}

input.input[type="checkbox"] {
  &:not(:checked) + .checkboxEmulator::after {
    opacity: 0;
  }
}

.checkboxEmulator {
  position: relative;
  min-width: 28px;
  min-height: 28px;
  background-color: var(--color-black-06);
  border: var(--border-dark-15);
  border-radius: calc(var(--border-radius-small) / 2);
  cursor: pointer;

  @include tablet {
    min-width: 22px;
    min-height: 22px;
  }

  &::after {
    @include abs-center;
    @include square(18px);

    content: "";
    background-color: var(--color-gray-60);
    border-radius: inherit;
    transition-duration: var(--transition-duration);

    @include tablet {
      @include square(14px);
    }
  }
}

.textarea {
  min-height: 160px;
  resize: none;

  @include desktop {
    min-height: 120px;
  }

  @include tablet {
    min-height: 100px;
  }
}
