@use "../../../styles/abstracts/media" as *;

.hero {
  position: relative;
  display: flex;
  align-items: flex-end;
  min-height: 100vh;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 70) 0%,
      rgba(15, 15, 15, 0) 67%
    ),
    linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(15, 15, 15, 0) 100%),
    url("../../../assets/home-bg.jpg"), url("../../../assets/decoration.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    background-image: url("../../../assets/abstract-design.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.5s ease-out;

    @include hover {
      width: 55%;
      height: 55%;
    }
  }
}
