.hero {
  position: relative;
  display: flex;
  align-items: flex-end;
  min-height: 100%;
  background-image: url("../../../assets/home-hero-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
