.header {
  position: absolute;
  top: 22px;
  left: 0;
  z-index: 5;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  box-sizing: border-box;

  a {
    text-align: center;
  }
}
