@use "../../../../styles/abstracts/media" as *;
@use "../../../../styles/abstracts/mixins" as *;

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2px;

  padding: 30px;
  background-color: var(--color-black-10);
  border: var(--border-dark-15);
  border-radius: var(--border-radius-medium);

  a {
    @include flex-center;

    transition: all 0.8s ease;
    cursor: pointer;

    @include hover {
      transform: scale(1.03);
    }
  }
}

.image {
  position: relative;
  max-width: 235px;
  border-radius: var(--border-radius-medium);

  &::before {
    content: "";

    @include square(100%);
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    background-image: linear-gradient(
      180deg,
      rgba(26, 26, 26, 0) 0%,
      rgba(26, 26, 26, 1) 100%
    );
  }

  img {
    min-height: 200px;
    border-radius: var(--border-radius-medium);
    object-fit: cover;

    @include mobile {
      min-height: 120px;
    }
  }
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  flex-grow: 1;

  a {
    svg {
      @include square(30px);

      transform: rotate(180deg);
      transition: transform 0.5s ease;
      cursor: pointer;

      @include hover {
        transform: rotate(180deg) scale(1.1);
      }

      @include mobile {
        @include square(24px);
      }
    }
  }
}
