@use "../../../../styles/abstracts/media" as *;
@use "../../../../styles/abstracts/mixins" as *;

.actionsItem {
  transition: all 0.5s ease;

  @include hover {
    transform: scale(1.05);
  }

  a {
    @include flex-center;

    &:focus-visible {
      outline: none;
      transform: scale(1.05);
    }
  }

  svg {
    @include square(32px);

    fill: transparent;
    color: var(--primary-color-light);
    stroke: var(--primary-color-light);

    @include desktop {
      @include square(30px);
    }

    @include tablet {
      @include square(26px);
    }
  }

  button {
    @include reset-button;

    cursor: pointer;
  }
}

.actionsItem.accent {
  @include square(var(--icon-size));
  @include flex-center;

  background-color: var(--color-black-06);
  border: var(--border-dark-15);
  border-radius: var(--border-radius-small);
  cursor: pointer;

  @include hover {
    svg {
      transform: scale(1.1);
    }
  }

  svg {
    @include square(24px);

    color: var(--primary-color-light);
    transition: all 0.3s ease;
  }
}
