@use "../../../styles/abstracts/media" as *;

section.section {
  display: flex;
  justify-content: space-between;
  gap: 36px;

  @include tablet {
    flex-direction: column;
    justify-content: start;
    gap: 50px;
  }
}
