@use "../../../../../styles/abstracts/media" as *;
@use "../../../../../styles/abstracts/mixins" as *;

.text {
  flex-grow: 1;
  font-weight: 600;
  color: var(--primary-color-light);
}

.textWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 4px;
}

.textSup {
  @include fluid-text(14, 12);

  padding: 10px;
  font-weight: 600;
  color: var(--primary-color-light);
  background-color: var(--color-red-45);
  border-radius: var(--border-radius-small);

  @include mobile {
    padding: 8px;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 100%;
  width: 100%;

  @include mobile {
    gap: 4px;
  }
}

.infoWrapper {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 6px 10px;
  background-color: var(--color-black-08);
  border: var(--border-dark-15);
  border-radius: 50px;

  @include mobile {
    flex-wrap: wrap;
    gap: 2px;
    padding: 4px;
    border-radius: var(--border-radius-medius);
  }

  svg {
    @include square(18px);

    color: var(--color-gray-60);
  }
}

.info {
  font-weight: 500;
}

.infoReleased {
  text-align: center;
}
