@use "../../../../styles/abstracts/media" as *;

.nav {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 10px;
  background-color: var(--color-black-06);
  border: var(--border-dark-big-12);
  border-radius: var(--border-radius-medium);

  @include desktop {
    gap: 16px;
    padding: 8px;
  }

  @include tablet {
    background-color: transparent;
    border: none;
  }
}

nav {
  display: flex;
}
