@use "../../../../styles/abstracts/media" as *;
@use "../../../../styles/abstracts/mixins" as *;

.tabs {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: var(--color-black-06);
  border: var(--border-dark-15);
  border-radius: var(--border-radius-medium);

  li {
    @include mobile {
      width: 100%;
    }
  }
  @include desktop {
    padding: 8px;
  }

  @include mobile {
    width: 100%;
  }
}

.button {
  @include reset-button;
  @include fluid-text(18, 14);

  padding: 14px 24px;
  font-weight: 500;
  color: var(--color-gray-60);
  cursor: pointer;

  @include hover {
    color: var(--color-gray-75);
  }

  @include desktop {
    padding: 12px 20px;
  }

  @include mobile {
    width: 100%;
  }
}

.button.isActive {
  min-height: var(--input-height);
  padding: 18px 24px;
  color: var(--primary-color-light);
  background-color: var(--color-black-12);
  border: 1px solid transparent;
  border-radius: var(--border-radius-medium);
  outline: none;

  &:active,
  &:focus {
    border: 1px solid var(--color-gray-75);
  }

  @include desktop {
    padding: 12px 20px;
  }
}
