@use "../../../../styles/abstracts/media" as *;
@use "../../../../styles/abstracts/mixins" as *;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 50px;
  background: linear-gradient(
    45deg,
    rgba(229, 0, 0, 0) 0%,
    rgba(229, 0, 0, 0.08) 81%
  );
  background-color: var(--color-black-06);
  border: var(--border-dark-15);
  border-radius: var(--border-radius-medium);

  @include desktop {
    gap: 24px;
    padding: 40px;
  }

  @include tablet {
    gap: 20px;
    padding: 24px;
  }
}

.header {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-grow: 1;

  @include desktop {
    gap: 14px;
  }

  @include tablet {
    gap: 12px;
  }
}

.icon {
  @include square(var(--icon-size-big));
  @include flex-center;

  background-color: var(--color-black-08);
  border: var(--border-dark-small-12);
  border-radius: var(--border-radius-medium);

  svg {
    @include square(40px);

    @include desktop {
      @include square(30px);
    }

    @include tablet {
      @include square(24px);
    }

    path {
      fill: var(--color-red-45);
    }
  }
}

.title {
  @include fluid-text(24, 18);

  font-weight: 600;
  color: var(--primary-color-light);
}
