@use "../../../../styles/abstracts/media" as *;

.sliderWrapper {
  position: relative;
  overflow: hidden;
  width: 100%;

  @include mobile {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 24px;

    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.cards {
  display: flex;
  gap: 30px;
  transition: transform 0.5s cubic-bezier(0.16, 1, 0.3, 1);

  @include tablet {
    gap: 20px;
  }
}
