@use "../../../../styles/abstracts/media" as *;
@use "../../../../styles/abstracts/mixins" as *;

.list {
  display: flex;
  gap: 14px;

  @include tablet {
    gap: 10px;
  }

  @include mobile {
    flex-wrap: wrap;
  }
}

.item {
  @include square(var(--icon-size));
  @include flex-center;

  background-color: var(--color-black-10);
  border: var(--border-dark-15);
  border-radius: var(--border-radius-small);
  cursor: pointer;

  @include hover {
    svg {
      transform: scale(1.1);
    }
  }

  svg {
    @include square(24px);

    transition: all 0.3s ease;
  }
}
