@use "../../../styles/abstracts/media" as *;

.section {
  @include mobile {
    display: contents;
  }
}

.sliders {
  display: flex;
  flex-direction: column;
  gap: 100px;

  @include desktop {
    gap: 80px;
  }

  @include tablet {
    gap: 60px;
  }

  @include mobile {
    gap: 50px;
  }
}
