@use "../../../../styles/abstracts/media" as *;

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding: 16px;
  background-color: var(--color-black-06);
  border: var(--border-dark-small-12);
  border-radius: var(--border-radius-medius);

  @include mobile {
    display: none;
  }
}

.wrapper.transparent {
  padding: 0;
  background-color: transparent;
  border: none;
  border-radius: none;
}

.wrapper.small {
  justify-content: center;
  background-color: transparent;
  border: none;
}
