@use "../abstracts/media" as *;
@use "../abstracts/mixins" as *;

body {
  @include fluid-text(18, 14);

  font-family: var(--font-family-base);
  line-height: 1.5;
  color: var(--color-gray-60);
  background-color: var(--color-black-08);
  overflow-x: hidden;
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

#root {
  min-height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  height: 100vh;
}

main {
  flex-grow: 1;
  width: 100%;
}

.container {
  position: relative;
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  padding-inline: var(--container-padding-x);

  @media (max-width: 1640) {
    max-width: calc(1280px + (var(--container-padding-x) * 2));
  }
}

.section {
  padding-block: 75px;

  @include desktop {
    padding-block: 60px;
  }
}

.first-section {
  margin: 140px auto 0;

  @include mobile {
    margin-top: 80px;
    margin-bottom: 0;
  }
}

.icon {
  width: 100%;
  height: 100%;
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}

.react-tel-input {
  font-family: var(--font-family-base) !important;
}

.custom-container {
  display: flex;
  align-items: center;
  background-color: transparent;
}

.react-tel-input .form-control:hover + .flag-dropdown,
.react-tel-input .form-control:focus + .flag-dropdown,
.react-tel-input .form-control:active + .flag-dropdown,
.react-tel-input .form-control:hover + .custom-flag,
.react-tel-input .form-control:focus + .custom-flag,
.react-tel-input .form-control:active + .custom-flag {
  border: 1px solid var(--color-black-30) !important;
}

.react-tel-input .form-control {
  width: 100%;
  padding-left: 70px;
}

.react-tel-input .form-control,
.react-tel-input .flag-dropdown.open,
.react-tel-input .flag-dropdown.open .selected-flag,
.react-tel-input .country-list {
  background: var(--color-black-08) !important;
}

.react-tel-input .country-list .country.highlight {
  background: var(--color-black-15) !important;
}

.react-tel-input .selected-flag:hover,
.react-tel-input .selected-flag:focus {
  background-color: var(--color-black-08) !important;
}

.custom-flag {
  background-color: var(--color-black-08) !important;
  border: var(--border-dark-15) !important;
  border-radius: 8px 0 0 8px;
  padding: 10px;
}

.custom-flag:focus-visible {
  outline: none;
}

.react-tel-input .selected-flag {
  width: 50px;
}

.react-tel-input .selected-flag .arrow {
  border-top: none;
}

.react-tel-input .selected-flag .arrow::after,
.react-tel-input .selected-flag .arrow::before {
  content: "";

  position: absolute;
  top: -2px;
  left: 8px;
  width: 2px;
  height: 10px;
  background-color: var(--color-gray-60);
  border-radius: var(--border-radius-small);
  transform: rotate(45deg);
}

.react-tel-input .selected-flag .arrow::before {
  left: 2px;
  transform: rotate(-45deg);
}

.react-tel-input .selected-flag .arrow.up {
  top: 10px;
  left: 30px;
  border-bottom: none;
  transform: rotate(180deg);
}
